* {
  background-color: #b8cecf;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 30px;
}

.product-card {
  border: 2px solid #4a90e2;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.product-characters {
  font-family: "Courier New", Courier, monospace;
  color: #333;
}
.product-location {
  font-family: "Georgia", serif;
  color: #666;
}
.product-episode {
  font-family: "Verdana", sans-serif;
  color: #999;
}
